/* .app{
  background: #209cee;
  padding: 30px;
  height: 100vh;
} */

/* .todo-list{
  background: #e8e8e8;
  border-radius: 4px;
  padding: 5px;
}*/

.todo {
  padding: 40px 20px;
  margin-bottom: 6px;
  border-radius: 12px;
  display: flex;
  align-items:center;
  justify-content: space-between; 
} 

/* .input{
  width: 70%;
  margin: 0 auto;
} */

/* input, button {
  vertical-align:middle;
} */
